{% load static %}
<div class="about_block">
	<div class="about_right">
		<h2 class="giant_text decorated_text">О нас</h2>
		<p class="small_text">
Компания “Tomiko Trade” - ваш надежный поставщик по доставке новых и подержанных автомобилей из Южной Кореи, Японии и Китая.

Вам не нужно разбираться в тонкостях процесса приобретения автомобиля. Мы делаем это за Вас. Наша цель - помочь Вам приобрести юридически чистый автомобиль без пробега по РФ с экономией от 300 000₽.
		</p>
		<div class="button_set">
			<a href="#contact-section"><div class="gradient_btn"><p>Получить консультацию</p></div></a>
			<a href=""><img src="{% static 'img/whatsapp_logo.svg' %}" class="link_btn"></a>
		</div>
	</div>
	<img src= "{% static 'img/abot.png' %}">
</div>
<div id="mini_banner">
	<div class="banner_item">
		<p class="huge_text decorated_text red_text">5+</p>
		<p class="tiny_text grey_text">лет на рынке</p>
	</div>
	<div class="banner_item">
		<p class="huge_text decorated_text red_text">4000+</p>
		<p class="tiny_text grey_text">довольных клиентов</p>
	</div>
	<div class="banner_item inline"><img src="{% static 'img/like.png' %}"><p class="tiny_text">Прозрачное ценообразование с подробным разъяснением затрат на каждом этапе</p></div>	
	<div class="banner_item inline"><img src="{% static 'img/doc.png' %}"><p class="tiny_text">Полное сопровождение и предоставление фото/видео отчета на протяжение всей сделки</p></div>	
	<div class="banner_item inline"><img src="{% static 'img/sag.png' %}"><p class="tiny_text">Проверенные поставщики</p></div>
</div>