{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Каталог</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/for_all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact_block.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/popular_auto.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/subscribe_block.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/catalog.css' %}">
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    	<script src="{% static 'js/catalog.js' %}" defer></script>
		<script src="{% static 'js/clean.js' %}" defer></script>
  </head>
<body>
	{% include "header.html" %}
	<div id="breadcrump">
		<a href="{% url 'index' %}" class="tiny_text grey_text">Главная</a>
		<p class="tiny_text grey_text"> • </p>
		<a href="" class="tiny_text grey_text">Каталог</a>
		<p class="tiny_text grey_text"> • </p>
		<a href="" class="tiny_text grey_text">{{country}}</a>
	</div>
	<div id="search_form">
		<form id="filter_form" class="simple_form" method="GET">
        <div class="form_item short_item4">
            <select name="brand" id="brand">
                <option value="">Марка авто</option>
                {% for brand in form.brand.field.queryset %}
                <option value="{{ brand.id }}" {% if brand.id|stringformat:"s" == request.GET.brand %}selected{% endif %}>
                    {{ brand.brand }}
                </option>
                {% endfor %}
            </select>
            <select name="model" id="model">
                <option value="">Модель авто</option>
                {% for model in models %}
                <option value="{{ model.model }}" {% if model.model|stringformat:"s" == request.GET.model %}selected{% endif %}>
                        {{ model.model }}
                    </option>
                {% endfor %}
            </select>
            <button class="transperent_btn"><p>Показать</p></button>
        </div>
        <div class="form_item short_item4">
            <!-- Фильтр по году -->
            <div class="couple">
                <select class="couple_left" name="year_from" id="year_from">
                <option value="">Год от</option>
                {% for value, label in form.year_from.field.choices %}
                <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.year_from %}selected{% endif %}>
                    {{ label }}
                </option>
                {% endfor %}
            </select>
                <select class="couple_right" name="year_to" id="year_to">
                <option value="">до</option>
                {% for value, label in form.year_to.field.choices %}
                <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.year_to %}selected{% endif %}>
                    {{ label }}
                </option>
                    {% endfor %}
                </select>
            </div>
            <div class="couple">
                <select class="couple_left" name="mileage_from" id="mileage_from">
                    <option value="">Пробег от</option>
                    {% for value, label in form.mileage_from.field.choices %}
                    <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.mileage_from %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
                <select class="couple_right" name="mileage_to" id="mileage_to">
                    <option value="">до</option>
                        {% for value, label in form.mileage_to.field.choices %}
                        <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.mileage_to %}selected{% endif %}>
                            {{ label }}
                        </option>
                        {% endfor %}
                </select>
            </div>	   
            <button class="empty_btn" data-target-url="{% url 'catalog' country %}"><p>Сбросить</p></button>        
        </div>
        <div class="form_item short_item4">
            <div class="couple">
                <select class="couple_left" name="engine_volume_from" id="engine_volume_from">
                    <option value="">Объём от</option>
                    {% for value, label in form.engine_volume_from.field.choices %}
                    <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.engine_volume_from %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>	
                <select class="couple_right" name="engine_volume_to" id="engine_volume_to">
                    <option value="">до</option>
                    {% for value, label in form.engine_volume_to.field.choices %}
                    <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.engine_volume_to %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </div>	
            <select name="transmission" id="transmission">
                <option value="">Тип КПП</option>
                {% for value, label in form.transmission.field.choices %}
                <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.transmission %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form_item short_item4">
            <select name="drive" id="drive">
                <option value="">Привод</option>
                {% for value, label in form.drive.field.choices %}
                <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.drive %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
            <select name="color" id="color">
                <option value="">Цвет</option>
                {% for value, label in form.color.field.choices %}
                <option value="{{ value }}" {% if value|stringformat:"s" == request.GET.color %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>
		</form>
</div>

{% include "popular_auto.html" %}
	<div id="have_results_block">
	<div id="sorting_block">
		<form method="GET" class="simple_form">
			<select class="sorting" name="sort" id="sort" onchange="this.form.submit()">
				<option value="">Сначала недорогие</option>
				<option value="mileage_asc" {% if current_sort == 'mileage_asc' %}selected{% endif %}>Пробег (по возрастанию)</option>
				<option value="mileage_desc" {% if current_sort == 'mileage_desc' %}selected{% endif %}>Пробег (по убыванию)</option>
				<option value="price_asc" {% if current_sort == 'price_asc' %}selected{% endif %}>Цена (по возрастанию)</option>
				<option value="price_desc" {% if current_sort == 'price_desc' %}selected{% endif %}>Цена (по убыванию)</option>
				<option value="engine_volume_asc" {% if current_sort == 'engine_volume_asc' %}selected{% endif %}>Объем двигателя (по возрастанию)</option>
				<option value="engine_volume_desc" {% if current_sort == 'engine_volume_desc' %}selected{% endif %}>Объем двигателя (по убыванию)</option>
				<option value="year_asc" {% if current_sort == 'year_asc' %}selected{% endif %}>Год (по возрастанию)</option>
				<option value="year_desc" {% if current_sort == 'year_desc' %}selected{% endif %}>Год (по убыванию)</option>
			</select>
		</form>
	</div>

<div id="results">
	{%for car in cars_page %}
		<div class="popular_auto_item">
            <a href = "{% url 'auto' car.id %}">
			<div class="auto_item_title">
				<p class="big_text decorated_text">{{car.model}}</p>
				<p class="tiny_text grey_text">{{car.year}} • {{car.transmission}} • {{car.mileage}} км</p>
			</div>
           <img class = "imagepic" src="/static/img/auto2.png" alt ='autopic'>
			<div class="auto_item_price">
				<p class="big_text decorated_text">{{car.price}} ₽</p>
				<a href="#contact-section" class="transperent_btn"><p>Оставить заявку</p></a>
			</div>
			<!-- <div class="circle_bar">
				<div class="lil_circle act_lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
			</div>  -->
            </a>
		</div>
	{% empty %}
	<div id="no_results_block">
		<img src="{% static 'img/search.png' %}"> <p class="small_text"> К сожалению, по заданным параметрам ничего не найдено. Попробуйте изменить условия поиска.</p>
	</div>
	{% endfor %}
</div>
</div>

<div class="pagination">
    <div class='paginator'>
        <span class="step-links">
            {% if cars_page.has_previous %}
                <a class="small_text" href="?page={{ cars_page.previous_page_number }}&sort={{ current_sort }}">Предыдущая</a>
            {% endif %}

            {% if cars_page.number > 3 %}
                <span>...</span>
            {% endif %}

            {% for num in cars_page.paginator.page_range %}
                {% if num >= cars_page.number|add:-1 and num <= cars_page.number|add:1 %}
                    {% if num == cars_page.number %}
                        <span class="current-page small_text">{{ num }}</span>  {# Страница, на которой сейчас находитесь #}
                    {% else %}
                        <a class="small_text" href="?page={{ num }}&sort={{ current_sort }}">{{ num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if cars_page.number < cars_page.paginator.num_pages|add:-2 %}
                <span>...</span>
                <a href="?page={{ cars_page.paginator.num_pages }}&sort={{ current_sort }}">{{ cars_page.paginator.num_pages }}</a>
            {% endif %}

            {% if cars_page.has_next %}
                <a class="small_text" href="?page={{ cars_page.next_page_number }}&sort={{ current_sort }}">Следующая</a>
            {% endif %}
        </span>
    </div>
</div>




<div id="contact-section">
	{% include "contact_block.html" %}
</div>
{% include "subscribe_block.html" %}
{% include "footer.html" %}
</body>
</html>
