<div class="contact_block">
	<div class="contact_block_left">
		<h2 class="giant_text decorated_text">Контактная информация <img src="/static/img/hi.png"></h2>
		<p class="medium_text grey_text">Оставьте свою заявку и наш менеджер свяжется с Вами для уточнения деталей.</p>
		<p class="small_text grey_text">Звонок по России бесплатный</p>
		<p class="medium_text">8 (800) 775-67-29</p>
		<p class="small_text grey_text">WhatsApp</p>
		<p class="medium_text">+7 924 420-24-32</p>
		<p class="small_text grey_text">Офис</p>
		<p class="medium_text">г. Владивосток, ул. Жигура 9в, 1 этаж, офис 1</p>
	</div>
	<div class="contact_block_right">
		<form class="simple_form">
			<div class="form_item short_item">
				<label class="tiny_text" for="name">Имя</label>
				<input type="text" name="name" id="name"></input>
			</div>
			<div class="form_item short_item">
				<label class="tiny_text" for="phone">Телефон</label>
				<input type="text" name="phone" id="phone"></input>
			</div>
			<div class="form_item">
				<label class="tiny_text" for="question">Уточните свой вопрос</label>
				<textarea type="text" name="question" id="question"></textarea>
			</div>
			<div class="form_item">
				<input type="checkbox" name="consent" id="consent" class="custom-checkbox"></input><label for="consent" class="medium_text">С правилами <span class="red_text">политики конфиденциальности</span>  ознакомлен</label>
			</div>
			<div class="form_item">
				<button class="transperent_btn"><p>Отправить</p></button>
			</div>
		</form>
	</div>
</div>