<div id="footer">
		<div id="footer-top">
			<div id="footer-top-left">
				<a href=""><img src="/static/img/logo.svg" alt="logo"></a>
				<div id="footer-navigation-links">
					<div class="links-column">
						<p class="big_text decorated_text">Каталог</p>
						<a href="" class="small_text grey_text">Авто из Кореи</a>
						<a href="" class="small_text grey_text">Авто из Китая</a>
						<a href="" class="small_text grey_text">Авто из Японии</a>
					</div>
					<div class="links-column">
						<p class="big_text decorated_text">Компания</p>
						<a href="" class="small_text grey_text">О компании</a>
						<a href="" class="small_text grey_text">Клипы</a>
						<a href="" class="small_text grey_text">Отзывы</a>
					</div>
				</div>
			</div>
			<div id="footer-top-right">
				<p class="tiny_text grey_text">Звонок по России бесплатный</p>
				<p class="huge_text decorated_text">8 (800) 775-67-29</p>
				<div>
					<img src="/static/img/telegram_logo2.svg" alt="Telegram">
					<img src="/static/img/whatsapp_logo2.svg" alt="WhatsApp">
					<img src="/static/img/vk_logo2.svg" alt="vk">
					<img src="/static/img/insta_logo2.svg" alt="Instagram">
				</div>
				
			</div>
		</div>
		<div id="footer-down">
			<p class="tiny_text">© 2024 ООО «Автоцентр-ВЛ» Автомобили под заказ из Кореи, Китая и Японии</p>
			<a  class="tiny_text" href="">Политика конфиденциальности</a>
		</div>
	</div>