{% load static %}
<div id="header">
		<div id="main_container">
			<div id="logo_section">
				<a href = "{% url 'index'%}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
				<div id="navigation_links">
					<a class="nav_item tiny_text grey_text" href="{% url 'catalog' country='Корея' %}">Авто из Кореи</a>
					<a class="nav_item tiny_text grey_text" href="{% url 'catalog' country='Китай' %}">Авто из Китая</a>
					<a class="nav_item tiny_text grey_text" href="{% url 'catalog' country='Япония' %}">Авто из Японии</a>
					<a class="nav_item tiny_text grey_text" href="{% url 'contacts' %}">Контакты</a>
				</div>
			</div>
			<div id="contact_section">
				<p class="big_text decorated_text">8 (800) 500-49-49</p>
				<a href=""><img src="{% static 'img/telegram_logo.svg' %}" alt="Telegram"></a>
				<a href=""><img src="{% static 'img/whatsapp_logo.svg' %}" alt="WhatsApp"></a>
			</div>
		</div>
	</div>
