{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Главная</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/for_all.css' %}">

</head>
<body>
	<div id="header">
		<div id="main_container">
			<div id="logo_section">
				<img src="{% static 'img/logo.svg' %}" alt="logo">
				<div id="navigation_links">
					<a class="nav_item tiny_text grey_text" href="">Авто из Кореи</a>
					<a class="nav_item tiny_text grey_text" href="">Авто из Китая</a>
					<a class="nav_item tiny_text grey_text" href="">Авто из Кореи</a>
					<a class="nav_item tiny_text grey_text" href="">Контакты</a>
				</div>
			</div>
			<div id="contact_section">
				<p class="big_text decorated_text">8 (800) 500-49-49</p>
				<a href=""><img src="{% static 'img/telegram_logo.svg' %}" alt="Telegram"></a>
				<a href=""><img src="{% static 'img/whatsapp_logo.svg' %}" alt="WhatsApp"></a>
			</div>
		</div>
	</div>

	<div id="banner">
		<img src="{% static 'img/banner.png' %}">
		<div id="banner_center" style=" background: url(); background-size: contain;">
			<h1 class="giant_text decorated_text">АВТОМОБИЛЬ ВАШЕЙ МЕЧТЫ ЗДЕСЬ</h1>
			<p class="big_text">Прозрачное ценообразование с подробным разъяснением затрат на каждом этапе</p><br>
			<a href=""><div class="gradient_btn"><p>Рассчитать стоимость</p></div></a>
		</div>
		<div id="banner_down">
			<div id="banner_down_left">
				<div class="banner_item">
					<p class="huge_text decorated_text">5+</p>
					<p class="tiny_text grey_text">лет на рынке</p>
				</div>
				<div class="banner_item">
					<p class="huge_text decorated_text">4000+</p>
					<p class="tiny_text grey_text">довольных клиентов</p>
				</div>
				<div class="banner_item" style="
				">
					<img src="{% static 'img/star.png' %}" alt="star">
					<p class="huge_text decorated_text">4.9</p>
				</div>
			</div>
			<div id="banner_down_right">
				<div>
					<p class="big_text">Экономия до <span class="huge_text decorated_text red_text">30%</span> от рынка авто в наличии</p>
				</div>
				<a href=""><div class="gradient_btn"><p>Смотреть пример</p></div></a>
			</div>
		</div>
	</div>

	<div class="popular_auto">
		<div class="popular_auto_title">
			<p class="big_text grey_text"></p>
			<p class="huge_text decorated_text">ПОПУЛЯРНЫЕ АВТО <span class="red_text">ИЗ КОРЕИ</span></p>
			<img src="{% static 'img/flag_korea.png' %}" alt="KoreaFlag">
		</div>
		<div class="popular_auto_item_big">
			<img src="{% static 'img/car1.jpg' %}">
			<div class="auto_item">
				<div class="auto_item_title">
					<p class="big_text decorated_text">SUBARU LEVONG VN5</p>
					<p class="tiny_text grey_text">2021 • Гибрит • 10 000 км</p>
				</div>
				<div class="auto_item_price">
					<p class="large_text decorated_text">2 115 600 ₽</p>
					<div class="transperent_btn"><p>Оставить заявку</p></div>
				</div>
			</div>
			
			<div class="circle_bar">
				<div class="lil_circle act_lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
			</div>
		</div>
		<div class="popular_auto_item">
			<div class="auto_item_title">
				<p class="big_text">SUBARU LEVONG VN5</p>
				<p class="litle_text grey_text">2021 • Гибрит • 10 000 км</p>
			</div>
			<img src="{% static 'img/image.png' %}">
			<div class="auto_item_price">
				<p class="big_text">2 115 600 ₽</p>
				<div class="transperent_btn"><p>Оставить заявку</p></div>
			</div>
			<div class="circle_bar">
				<div class="lil_circle act_lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
				<div class="lil_circle"></div>
			</div>
		</div>
	</div>
	<!-- <div id="brend_bar">
		<img src="{% static 'img/bmw_logo.png' %}" alt="bmw_logo">
		<img src="{% static 'img/toyota_logo.png' %}" alt="toyota_logo">
		<img src="{% static 'img/audi_logo.png' %}" alt="audi_logo">
		<img src="{% static 'img/kia_logo.png' %}" alt="kia_logo">
		<img src="{% static 'img/mers_logo.png' %}" alt="mersedes_logo">
		<img src="{% static 'img/hyundai_logo.png' %}" alt="hyunday_logo">
		<img src="{% static 'img/chery_logo.png' %}" alt="chery_logo">
		<img src="{% static 'img/chevrolet_logo.png' %}" alt="chevrolet_logo">
		<img src="{% static 'img/renault_samsung_logo .png' %}" alt="renault_samsung_logo">
		<img src="{% static 'img/haval_logo.png' %}" alt="haval_logo">
		<img src="{% static 'img/jac_logo.png' %}" alt="jac_logo">
		<img src="{% static 'img/daewoo_logo.png' %}" alt="daewoo_logo">
		<img src="{% static 'img/faw_logo.png' %}" alt="faw_logo">
	</div>
	<div id="stages_of_work">
		<h2 class="big_text">ЭТАПЫ РАБОТЫ</h2>
		<p class="litle_text grey_text"></p>
		<div class="stages_item">
			<div class="stage_bar">
				<div class="empty"></div>
				<div class="fill"></div>
			</div>
			<p class="big_text">ЗАЯВКА</p>
			<p class="litle_text">Оставьте заявку, чтобы получить индивидуальную консультацию</p>
		</div>
		<div class="stages_item">
			<div class="stage_bar">
				<div class="empty"></div>
				<div class="fill"></div>
			</div>
			<p class="big_text">ПОДБОР АВТО</p>
			<p class="litle_text">Подберём автомобиль под ваши критерии</p>
		</div>
		<div class="stages_item">
			<div class="stage_bar">
				<div class="empty"></div>
				<div class="fill"></div>
			</div>
			<p class="big_text">ОФОРМЛЕНИЕ</p>
			<p class="litle_text">Согласуем бюджет и заключим договор на договор</p>
		</div>
		<div class="stages_item">
			<div class="stage_bar">
				<div class="empty"></div>
				<div class="fill"></div>
			</div>
			<p class="big_text">ДОСТАВКА ПО РФ</p>
			<p class="litle_text">После доставки в г. Владивосток, мы отправим автомобиль в ваш город</p>
		</div>
		<div>
			<div class="gradient_btn"><p>Получить консультацию</p></div>
			<a href=""><img src="{% static 'img/image.png' %}" alt="WhatsApp"></a>
		</div>
	</div> -->
	<div id="footer">
		<div id="footer-top">
			<div id="footer-top-left">
				<a href=""><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
				<div id="footer-navigation-links">
					<div class="links-column">
						<p class="big_text decorated_text">Каталог</p>
						<a href="" class="small_text grey_text">Авто из Кореи</a>
						<a href="" class="small_text grey_text">Авто из Китая</a>
						<a href="" class="small_text grey_text">Авто из Японии</a>
					</div>
					<div class="links-column">
						<p class="big_text decorated_text">Компания</p>
						<a href="" class="small_text grey_text">О компании</a>
						<a href="" class="small_text grey_text">Клипы</a>
						<a href="" class="small_text grey_text">Отзывы</a>
					</div>
					<!-- <div class="links-column">
						<p></p>
						<a href="">Условия работы</a>
						<a href="">Акции</a>
						<a href="">Контакты</a>
					</div> -->
				</div>
			</div>
			<div id="footer-top-right">
				<p class="tiny_text grey_text">Звонок по России бесплатный</p>
				<p class="huge_text decorated_text">8 (800) 775-67-29</p>
				<div>
					<img src="{% static 'img/telegram_logo2.svg' %}" alt="Telegram">
					<img src="{% static 'img/whatsapp_logo2.svg' %}" alt="WhatsApp">
					<img src="{% static 'img/vk_logo2.svg' %}" alt="vk">
					<img src="{% static 'img/insta_logo2.svg' %}" alt="Instagram">
				</div>
				
			</div>
		</div>
		<div id="footer-down">
			<p class="tiny_text">© 2024 ООО «Автоцентр-ВЛ» Автомобили под заказ из Кореи, Китая и Японии</p>
			<a  class="tiny_text" href="">Политика конфиденциальности</a>
		</div>
	</div>
</body>
</html>