{% load static %}
<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8">
	<title>Главная</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/for_all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/popular_auto.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/subscribe_block.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact_block.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/stages_of_work.css' %}">

</head>
<body>
	{% include "header.html" %}

	<div id="banner">
		<img src="{% static 'img/banner.png' %}">
		<div id="banner_center" style=" background: url(); background-size: contain;">
			<h1 class="giant_text decorated_text">АВТОМОБИЛЬ ВАШЕЙ МЕЧТЫ ЗДЕСЬ</h1>
			<p class="big_text">Прозрачное ценообразование с подробным разъяснением затрат на каждом этапе</p><br>
			<a href="#contact-section"><div class="gradient_btn"><p>Рассчитать стоимость</p></div></a>
		</div>
		<div id="banner_down">
			<div id="banner_down_left">
				<div class="banner_item">
					<p class="huge_text decorated_text">5+</p>
					<p class="tiny_text grey_text">лет на рынке</p>
				</div>
				<div class="banner_item">
					<p class="huge_text decorated_text">4000+</p>
					<p class="tiny_text grey_text">довольных клиентов</p>
				</div>
				<div class="banner_item">
					<img src="{% static 'img/star.png' %}" alt="star">
					<p class="huge_text decorated_text">4.9</p>
				</div>
			</div>
			<div id="banner_down_right">
				<div>
					<p class="big_text">Экономия до <span class="huge_text decorated_text red_text">30%</span> от рынка авто в наличии</p>
				</div>
				<button class="gradient_btn" type="button" onclick="window.economyWindow.showModal()"><p>Смотреть пример</p></button>
			</div>
		</div>
	</div>
	{% include "economia.html" %}
	{% include "popular_auto.html" with country_forms="Японии" carsmini=cars_japan country_name="japan" %}
    {% include "popular_auto.html" with country_forms="Кореи" carsmini=cars_korea  country_name="korea" %}
    {% include "popular_auto.html" with country_forms="Китая" carsmini=cars_china  country_name="china" %}
	
	<div id="brend_bar">
		<div class="div2">
			<img src="{% static 'img/bmw_logo.png' %}" alt="bmw_logo">
			<img src="{% static 'img/toyota_logo.png' %}" alt="toyota_logo">
			<img src="{% static 'img/audi_logo.png' %}" alt="audi_logo">
			<img src="{% static 'img/kia_logo.png' %}" alt="kia_logo">
			<img src="{% static 'img/mers_logo.png' %}" alt="mersedes_logo">
			<img src="{% static 'img/hyundai_logo.png' %}" alt="hyunday_logo">
			<img src="{% static 'img/chery_logo.png' %}" alt="chery_logo">
			<img src="{% static 'img/chevrolet_logo.png' %}" alt="chevrolet_logo">
			<img src="{% static 'img/renault_samsung_logo%20.png' %}" alt="renault_samsung_logo">
			<img src="{% static 'img/haval_logo.png' %}" alt="haval_logo">
			<img src="{% static 'img/jac_logo.png' %}" alt="jac_logo">
			<img src="{% static 'img/daewoo_logo.png' %}" alt="daewoo_logo">
			<img src="{% static 'img/faw_logo.png' %}" alt="faw_logo">
		</div>
		<div class="div2">
			<img src="{% static 'img/bmw_logo.png' %}" alt="bmw_logo">
			<img src="{% static 'img/toyota_logo.png' %}" alt="toyota_logo">
			<img src="{% static 'img/audi_logo.png' %}" alt="audi_logo">
			<img src="{% static 'img/kia_logo.png' %}" alt="kia_logo">
			<img src="{% static 'img/mers_logo.png' %}" alt="mersedes_logo">
			<img src="{% static 'img/hyundai_logo.png' %}" alt="hyunday_logo">
			<img src="{% static 'img/chery_logo.png' %}" alt="chery_logo">
			<img src="{% static 'img/chevrolet_logo.png' %}" alt="chevrolet_logo">
			<img src="{% static 'img/renault_samsung_logo%20.png' %}" alt="renault_samsung_logo">
			<img src="{% static 'img/haval_logo.png' %}" alt="haval_logo">
			<img src="{% static 'img/jac_logo.png' %}" alt="jac_logo">
			<img src="{% static 'img/daewoo_logo.png' %}" alt="daewoo_logo">
			<img src="{% static 'img/faw_logo.png' %}" alt="faw_logo">
		</div>
		<div class="div2">
			<img src="{% static 'img/bmw_logo.png' %}" alt="bmw_logo">
			<img src="{% static 'img/toyota_logo.png' %}" alt="toyota_logo">
			<img src="{% static 'img/audi_logo.png' %}" alt="audi_logo">
			<img src="{% static 'img/kia_logo.png' %}" alt="kia_logo">
			<img src="{% static 'img/mers_logo.png' %}" alt="mersedes_logo">
			<img src="{% static 'img/hyundai_logo.png' %}" alt="hyunday_logo">
			<img src="{% static 'img/chery_logo.png' %}" alt="chery_logo">
			<img src="{% static 'img/chevrolet_logo.png' %}" alt="chevrolet_logo">
			<img src="{% static 'img/renault_samsung_logo%20.png' %}" alt="renault_samsung_logo">
			<img src="{% static 'img/haval_logo.png' %}" alt="haval_logo">
			<img src="{% static 'img/jac_logo.png' %}" alt="jac_logo">
			<img src="{% static 'img/daewoo_logo.png' %}" alt="daewoo_logo">
			<img src="{% static 'img/faw_logo.png' %}" alt="faw_logo">
		</div>
	</div>
	{% include "stages_of_work.html" %}
    {% include "aboutus.html" %}
	<div class="logo_row">
		<div class="red_logo_row">
			<div class="div1">         
                <a href="" class="red-line">Денежное вознаграждение за рекомендацию</a>
                <span class="red-line">|</span>
            
                <a href="" class="red-line">Оплата депозита двумя частями</a>
                <span class="red-line">|</span>
            
                <a href="" class="red-line">Система лояльности для оптовых заказов</a>
                <span class="red-line">|</span>
           	</div>
           	<div class="div1">         
                <a href="" class="red-line">Денежное вознаграждение за рекомендацию</a>
                <span class="red-line">|</span>
            
                <a href="" class="red-line">Оплата депозита двумя частями</a>
                <span class="red-line">|</span>
            
                <a href="" class="red-line">Система лояльности для оптовых заказов</a>
                <span class="red-line">|</span>
           	</div>
           	<div class="div1">         
                <a href="" class="red-line">Денежное вознаграждение за рекомендацию</a>
                <span class="red-line">|</span>
            
                <a href="" class="red-line">Оплата депозита двумя частями</a>
                <span class="red-line">|</span>
            
                <a href="" class="red-line">Система лояльности для оптовых заказов</a>
                <span class="red-line">|</span>
           	</div>
		</div>
		<div class="blue_logo_row">
			<div class="div1"> 
           		<a href="" class="blue-line">Система лояльности для оптовых заказов</a>
                <span class="blue-line">|</span>
                        
                <a href="" class="blue-line">Оплата депозита двумя частями</a>
                <span class="blue-line">|</span>
                
                <a href="" class="blue-line">Денежное вознаграждение за рекомендацию</a>
                <span class="blue-line">|</span>
           	</div>
           <div class="div1"> 
           		<a href="" class="blue-line">Система лояльности для оптовых заказов</a>
                <span class="blue-line">|</span>

                <a href="" class="blue-line">Оплата депозита двумя частями</a>
                <span class="blue-line">|</span>
                
                <a href="" class="blue-line">Денежное вознаграждение за рекомендацию</a>
                <span class="blue-line">|</span>
           	</div>
           	<div class="div1"> 
           		<a href="" class="blue-line">Система лояльности для оптовых заказов</a>
                <span class="blue-line">|</span>
                        
                <a href="" class="blue-line">Оплата депозита двумя частями</a>
                <span class="blue-line">|</span>
                
                <a href="" class="blue-line">Денежное вознаграждение за рекомендацию</a>
                <span class="blue-line">|</span>
           	</div>
		</div>
	</div>
	{% include "comments.html" %}
	<div id="clips">
		<div id="clips_title">
			<h2 class="giant_text decorated_text" ><img src="{% static 'img/clip_logo.svg' %}"> Клипы</h2>
			<a href=""><div class="transperent_btn"><img src="{% static 'img/vk_logo3.png' %}"><p>Подписаться</p></div></a>
		</div>
		<div class="swipper">
			<img src="{% static 'img/preview.jpg' %}">
			<img src="{% static 'img/preview.jpg' %}">
			<img src="{% static 'img/preview.jpg' %}">
			<img src="{% static 'img/preview.jpg' %}">
			<img src="{% static 'img/preview.jpg' %}">
			<img src="{% static 'img/preview.jpg' %}">
			<img src="{% static 'img/preview.jpg' %}">
			<img src="{% static 'img/preview.jpg' %}">
		</div>
	</div>
	{% include "subscribe_block.html" %}
	<div id="contact-section">
		{% include "contact_block.html" %}
	</div>
	{% include "footer.html" %}
	<script type="text/javascript" src="{% static 'js/popular_auto_slider2.js'%}"></script>
</body>
</html>