<div class="popular_auto">
		<div class=".title">
			<p class="large_text decorated_text grey_text">ПОПУЛЯРНЫЕ АВТО </p> <br>
			<span class="large_text decorated_text red_text">ИЗ КОРЕИ</span>
			<img src="/static/img/flag_korea.png" alt="KoreaFlag">
		</div>
		<div class="swipper">
			<div class="popular_auto_item_big">
				<div class="auto_item_img">
					<img src="/static/img/car1.jpg">
					<div class="auto_item">
						<div class="auto_item_title">
							<p class="big_text decorated_text">SUBARU LEVONG VN5</p>
							<p class="tiny_text grey_text">2021 • Гибрит • 10 000 км</p>
						</div>
						<div class="auto_item_price">
							<p class="large_text decorated_text">2 115 600 ₽</p>
							<div class="transperent_btn"><p>Оставить заявку</p></div>
						</div>
					</div>
				</div>
				
				
				<div class="circle_bar">
					<div class="lil_circle act_lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
					<div class="lil_circle"></div>
				</div>
			<div class="red_flag"></div>
			</div>	
			<div class="popular_auto_item">
				<div class="auto_item_title">
					<p class="big_text decorated_text">SUBARU LEVONG VN5</p>
					<p class="tiny_text grey_text">2021 • Гибрит • 10 000 км</p>
				</div>
				<img src="/static/img/auto2.png">
				<div class="auto_item_price">
					<p class="big_text decorated_text">2 115 600 ₽</p>
					<div class="transperent_btn"><p>Оставить заявку</p></div>
				</div>
				<div class="red_flag"></div>
			</div>
			<div class="popular_auto_item">
				<div class="auto_item_title">
					<p class="big_text decorated_text">SUBARU LEVONG VN5</p>
					<p class="tiny_text grey_text">2021 • Гибрит • 10 000 км</p>
				</div>
				<img src="/static/img/auto2.png">
				<div class="auto_item_price">
					<p class="big_text decorated_text">2 115 600 ₽</p>
					<div class="transperent_btn"><p>Оставить заявку</p></div>
				</div>
				<div class="red_flag"></div>
			</div>
			<div class="popular_auto_item">
				<div class="auto_item_title">
					<p class="big_text decorated_text">SUBARU LEVONG VN5</p>
					<p class="tiny_text grey_text">2021 • Гибрит • 10 000 км</p>
				</div>
				<img src="/static/img/auto2.png">
				<div class="auto_item_price">
					<p class="big_text decorated_text">2 115 600 ₽</p>
					<div class="transperent_btn"><p>Оставить заявку</p></div>
				</div>
				<div class="red_flag"></div>
			</div>
			<div class="popular_auto_item">
				<div class="auto_item_title">
					<p class="big_text decorated_text">SUBARU LEVONG VN5</p>
					<p class="tiny_text grey_text">2021 • Гибрит • 10 000 км</p>
				</div>
				<img src="/static/img/auto2.png">
				<div class="auto_item_price">
					<p class="big_text decorated_text">2 115 600 ₽</p>
					<div class="transperent_btn"><p>Оставить заявку</p></div>
				</div>
				<div class="red_flag"></div>
			</div>
		</div>
</div>