{% load static %}
<div class="popular_auto" id="popular_auto_{{country_name}}">
		<div class=".title">
			<div>
				<p class="huge_text decorated_text grey_text">ПОПУЛЯРНЫЕ АВТО </p> <br>
				<span class="huge_text decorated_text red_text">ИЗ {{country_forms}}</span>
				<img src="/static/img/flag_korea.png" alt="KoreaFlag">
			</div>
			
			<div>
				<img class="nav_vector nav_left" src="{% static 'img/vector_left.png' %}">
				<img class="nav_vector nav_right" src="{% static 'img/vector_right.png' %}">
			</div>
		</div>
		<div class="swipper">
			{% for car in carsmini %}
			<a href = "{% url 'auto' car.id %}">
				{% if forloop.first %}  <!-- Отображаем только первый элемент как большой -->
				<div class="popular_auto_item item_big">
					<div class="auto_item_title">
						<p class="big_text decorated_text">{{ car.brand_country.brand }} {{ car.model }}</p>
						<p class="tiny_text grey_text">{{ car.year }} • {{ car.transmission }} • {{ car.mileage }} км</p>
					</div>
					<div class="pictire_place" style=" background-image: url({% static 'img/car1.jpg' %}); ">
						<!-- place for picture -->
					</div>
					<div class="auto_item_price">
						<p class="decorated_text">{{ car.price }} ₽</p>
						<a href="#contact-section">
							<div class="transperent_btn"><p>Оставить заявку</p></div>
						</a>
					</div>
					<div class="red_flag"></div>
				</div>
			</a>
			{% else %}  <!-- Остальные элементы отображаем как маленькие -->
			<a href = "{% url 'auto' car.id %}">
				<div class="popular_auto_item">
					<div class="auto_item_title">
						<p class="big_text decorated_text">{{ car.brand_country.brand }} {{ car.model }}</p>
						<p class="tiny_text grey_text">{{ car.year }} • {{ car.transmission }} • {{ car.mileage }} км</p>
					</div>
					<div class="pictire_place" style=" background-image: url({% static 'img/auto2.png' %}); ">
						<!-- place for picture -->
					</div>
					<div class="auto_item_price">
						<p class="decorated_text">{{ car.price }} ₽</p>
						<a href="#contact-section"><div class="transperent_btn"><p>Оставить заявку</p></div></a>
					</div>
					<div class="red_flag"></div>
				</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>		
</div>