<div class="popular_auto">
		<div class=".title">
			<p class="large_text decorated_text grey_text">ПОПУЛЯРНЫЕ АВТО </p> <br>
			<span class="large_text decorated_text red_text">ИЗ {{country_forms}}</span>
			<img src="/static/img/flag_korea.png" alt="KoreaFlag">
		</div>
		<div class="swipper">
			{% for car in carsmini %}
			<a href = "{% url 'auto' car.id %}">
				{% if forloop.first %}  <!-- Отображаем только первый элемент как большой -->
					<div class="popular_auto_item_big">
						<div class="auto_item_img">
							<img src="/static/img/car1.jpg">
							<div class="auto_item">
								<div class="auto_item_title">
									<p class="big_text decorated_text">{{ car.brand_country.brand }} {{ car.model }}</p>
									<p class="tiny_text grey_text">{{ car.year }} • {{ car.transmission }} • {{ car.mileage }} км</p>
								</div>
								<div class="auto_item_price">
									<p class="large_text decorated_text">{{ car.price }} ₽</p>
									<a href="#contact-section"><div class="transperent_btn"><p>Оставить заявку</p></div></a>
								</div>
							</div>
						</div>
						<div class="circle_bar">
							<div class="lil_circle act_lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
							<div class="lil_circle"></div>
						</div>
						<div class="red_flag"></div>
					</div>
				{% else %}  <!-- Остальные элементы отображаем как маленькие -->
					<div class="popular_auto_item">
						<div class="auto_item_title">
							<p class="big_text decorated_text">{{ car.brand_country.brand }} {{ car.model }}</p>
							<p class="tiny_text grey_text">{{ car.year }} • {{ car.transmission }} • {{ car.mileage }} км</p>
						</div>
						<img class = 'imagepic' src="/static/img/auto2.png">
						<div class="auto_item_price">
							<p class="big_text decorated_text">{{ car.price }} ₽</p>
							<a href="#contact-section"><div class="transperent_btn"><p>Оставить заявку</p></div></a>
						</div>
						<div class="red_flag"></div>
					</div>
				{% endif %}
			</a>
			{% endfor %}
		</div>
		
</div>