{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Акции</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/for_all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/promotion.css' %}">
</head>
<body>
	{% include "header.html"%}
	<div id="breadcrump">
		<a href="" class="tiny_text grey_text">Главная</a>
		<p class="tiny_text grey_text"> • </p>
		<a href="" class="tiny_text grey_text">Акции</a>
	</div>
	<div class="main">
		<h2 class="giant_text decorated_text">Акции</h2>
		<div class="container">
			<div class="content">
				<h2 class="huge_text decorated_text">Приведи друга 👍</h2>
				<p class="small_text">Каждый третий клиент обращается к нам по рекомендации знакомых, друзей, родственников. Этот факт нас безумно радует, и в знак благодарности мы запустили акцию “Приведи друга”.</p>
				<div class="number_list">
					<div class="number_list_item"><!-- punkt1  -->
						<div class="number_circle"><p>1</p></div>
						<p class="small_text">Вы рекомендуете нашу компанию;</p>
					</div>
					<div class="number_list_item"><!-- punkt2  -->
						<div class="number_circle"><p>2</p></div>
						<p class="small_text">По вашей рекомендации человек заключает с нами договор на приобретение автомобиля;</p>
					</div>
					<div class="number_list_item"><!-- punkt3  -->
						<div class="number_circle"><p>3</p></div>
						<p class="small_text">Вы получаете денежное вознаграждение или скидку на следующий заказ.</p>
					</div>
				</div>
				
				<p class="small_text">Более подробную информацию можно узнать у наших менеджеров.</p>
				<div class="gradient_btn">
					<p>Получить консультацию  </p>
					<img src="{% static 'img/whatsapp_logo2.svg' %}">
				</div>
			</div>
			<img src="{% static 'img/promotion1.png' %}">
		</div>

		<div class="container">
			<div class="content">
				<h2 class="huge_text decorated_text">Оптовые заказы 🚗 🚙</h2>
				<p class="small_text">Если вы планируете заказать сразу более 1 автомобиля, то для вас действует система лояльности - 10% скидка на комиссию компании на каждый последующий автомобиль в заказе.</p>
				<div class="gradient_btn">
					<p>Оставить заявку</p>
				</div>
			</div>
			<img src="{% static 'img/promotion3.png' %}">
		</div>

		<div class="container">
			<div class="content">
				<h2 class="huge_text decorated_text">Оплата депозита двумя частями 🤝</h2>
				<p class="small_text">За долгие годы работы мы выработали для вас идеальную схему работы.Представьте, что Мы нашли для вас идеальный вариант автомобиля, но у вас нет полной суммы для оплаты депозита на руках.</p>
				<p class="small_text">Не проблема! В нашей компании вы может оплатить депозит частями. Первую часть депозита оплачиваете в момент заключения договора, вторую - после покупки автомобиля.</p>
				<p class="small_text">Более подробную информацию можно узнать у наших менеджеров.</p>
				<div class="gradient_btn">
					<p>Оставить заявку</p>
				</div>
			</div>
			<img src="{% static 'img/promotion2.png' %}">
		</div>
	</div>
	{% include "footer.html"%}
</body>
</html>