{% load static%}
<div id="stages_of_work">
		<div class="stages_block_top">
			<h2 class="giant_text decorated_text"><span class="red_text">ЭТАПЫ</span> РАБОТЫ</h2>
			<p class="tiny_text grey_text">Прозрачное ценообразование с подробным разъяснением затрат на каждом этапе</p>
		</div>
		<div class="stages_items">
			<div class="stages_item">
				<img src="/static/img/stage1.png">
				<img src="/static/img/line1.svg">
				<div>
					<h3 class="large_text decorated_text">Заявка</h3>
					<p class="small_text grey_text">Оставьте заявку,чтобы получить  индивидуальную консультацию</p>
				</div>
			</div>
			<div class="stages_item">
				<img src="/static/img/stage2.png">
				<img src="/static/img/line2.svg">
				<div>
					<h3 class="large_text decorated_text">Подбор авто</h3>
					<p class="small_text grey_text">Подберем автомобиль под ваши критерии</p>
				</div>
			</div>
			<div class="stages_item">
				<img src="/static/img/stage3.png">
				<img src="/static/img/line2.svg">
				<div>
					<h3 class="large_text decorated_text">Оформление</h3>
					<p class="small_text grey_text">Согласуем бюджет и заключим договор на авто</p>
				</div>
			</div>
			<div class="stages_item">
				<img src="/static/img/stage4.png">
				<img src="/static/img/line2.svg">
				<div>
					<h3 class="large_text decorated_text">Доставка по РФ</h3>
					<p class="small_text grey_text">После доставки в г. Владивосток, мы отправим автомобиль в ваш город</p>
				</div>
			</div>
		</div>
		<div class="stages_block_bottom">
			<a href="#contact-section"><div class="gradient_btn"><p>Получить консультацию</p></div></a>
			<a href=""><img src="/static/img/whatsapp_logo.svg" class="link_btn"></a>
		</div>
		<img src="/static/img/banner2.png">
	</div> <!--end stages_of_work-->
	<div class="save_discount">
        <div>
            <p class="big_text">Экономия до <span class="large_text">30%</span></p>
            <span class="tiny_text">от рынка авто в наличии</span>
        </div>
        <button class="transperent_btn" onclick="window.economyWindow.showModal()"><img src="/static/img/arrow.svg"></button>
    </div>