{% load static %}
    <div class="" id = "subscribe_block">
        <div class = "mainclassdiscribe"> 
                    <img class = 'photo' src="\static\img\subscribe_image.png">
                    <div class = "titlesunscribe">
                    <h2><span class="red">ПОДПИШИСЬ</span><span class="white"> И НЕ УПУСТИ СВОЙ АВТОМОБИЛЬ МЕЧТЫ</p></span></h2> 
                    <!-- <p style="margin-top: -2%;"> -->
                        <div class= "coshial">
                            <div style="display: flex;align-items: center;margin-bottom: 4%;">
                                <img src="\static\img\telegram.png" style="width: 44px;height: auto;margin-right: 5%;">
                                <p style="margin: 0;font-size: 24px;">Телеграм-канал</p>
                                <img src="\static\img\link.png" style="width: 16px;height: auto;margin-left: 2%;">
                            </div>

                            <div style="display: flex;align-items: center;margin-bottom: 4%;">
                                <img src="\static\img\VK.png" style="width: 44px;height: auto;margin-right: 5%;">
                                <p style="margin: 0;font-size: 24px;">VK</p>
                                <img src="\static\img\link.png" style="width: 16px;height: auto;margin-left: 2%;">
                            </div>

                            <div style="display: flex;align-items: center;margin-bottom: 4%;">
                                <img src="\static\img\insta.png" style="width: 44px;height: auto;margin-right: 5%;">
                                <p style="margin: 0;font-size: 24px;">Instagram</p>
                                <img src="\static\img\link.png" style="width: 16px;height: auto;margin-left: 2%;">
                            </div>
                        </div>  
                    </div>
        </div>
        <div class = "back"></div>
    </div>        
