{% load static %}
    <div class="" id = "subscribe_block">
        <div class = "main"> 
                    <img class = 'photo' src="/static/img/image1.png">
                    <div class = "title">
                    <h2><span class="red">ПОДПИШИСЬ</span><span class="white"> И НЕ УПУСТИ <p style="margin-top: -2%;">СВОЙ АВТОМОБИЛЬ МЕЧТЫ</p></span></h2>
                        <div class= "coshial">
                            <div style="display: flex;align-items: center;margin-bottom: 4%;">
                                <img src="static/images/telegram.png" style="width: 44px;height: auto;margin-right: 5%;">
                                <p style="margin: 0;font-size: 24px;width: 15%;flex-grow: 1;white-space: nowrap;">Телеграм-канал</p>
                                <img src="static/images/link.png" style="width: 16px;height: auto;margin-right: 50%;">
                            </div>

                            <div style="display: flex;align-items: center;margin-bottom: 4%;">
                                <img src="static/images/VK.png" style="width: 44px;height: auto;margin-right: 5%;">
                                <p style="margin: 0;font-size: 24px;">VK</p>
                                <img src="static/images/link.png" style="width: 16px;height: auto;margin-left: 2%;">
                            </div>

                            <div style="display: flex;align-items: center;margin-bottom: 4%;">
                                <img src="static/images/insta.png" style="width: 44px;height: auto;margin-right: 5%;">
                                <p style="margin: 0;font-size: 24px;">Instagram</p>
                                <img src="static/images/link.png" style="width: 16px;height: auto;margin-left: 2%;">
                            </div>
                        </div>  
                    </div>
        </div>
        <div class = "back"></div>
    </div>        
