.about_block {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 80px 15px 0px 0px;
}
.about_right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about_right .button_set {
    display: flex;
    gap: 15px;
    align-items: center;
}
.about_right>p{white-space: pre-wrap;}